body {
    /*--playback-logo-image: url('https://cast.thegermancoder.com/images/background.jpg');*/
}

cast-media-player {
    --theme-hue: 100;
    --progress-color: rgb(0, 255, 0);
    --splash-background: #fff; /*url('https://cast.thegermancoder.com/images/background.jpg');*/
    --splash-size: cover;
}