.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.content {
    flex: 1;
    overflow: auto;
}

.footer {
    height: 20px;
    background: #333;
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
}

.item {
    position: relative;
    margin: 5px;
    width: 100px;
    height: 100px;
    background: #e8f0fe;
    transition: transform .2s ease;
    cursor: pointer;
}

.item-checkbox {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    padding: 10px;
}

.item:hover .item-checkbox {
    display: block;
}

.selected {
    color: #1a73e8 !important;
}

.selected .item-checkbox  {
    display: block;
    color: #1a73e8 !important;
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform .25s;

    &.lazy {
        background-image: none !important;
    }
}

.item.selected .image {
    transform: scale(0.95);
}

.item-checkbox-checkmark {
    fill: #fff;
    fill-opacity: .54;
    display: none;
}

.item:hover .item-checkbox-checkmark {
    display: block;
}

.item-checkbox-checkmark:hover:not(.item-checkbox-blue),
.item-checkbox-white {
    fill: #fff;
    fill-opacity: 1;
}

.item-checkbox-blue {
    fill: #1a73e8;
    fill-opacity: 1;
    display: block;
}

.selected {
    fill: #1a73e8;
    fill-opacity: 1;
}

.item-checkbox svg {
    position: absolute;
}

.item-checkbox-outline {
    fill: currentColor;
    fill-opacity: .54;
}

.item-checkbox-shine {
    stroke: #1a73e8;
    fill: none;
}