header {
    position: relative;
}

app-gallery {
    overflow: auto;
    flex: 1;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.context-bar {
    position: absolute;
    top: 0;
    height: 4rem;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 12px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.selected-count {
    font-family: roboto;
}

.action-buttons {
    position: relative;
    margin-left: auto;
    display: flex;
}

.btn-cancel {
    fill: black;
}

.btn-share {
    fill: #1a73e8;
}

.context-button {
    padding: .5rem;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background: #f1f3f4;
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &.plus-text {
        width: auto;
        border-radius: 5px;
    }

    span {
        font-family: roboto;
        margin-left: .75rem;
    }
}