.album {
    width: 240px;
    height: 240px;
    margin: 1rem;
    border-radius: 8px;
    background: grey;
}

.icon-button {
    margin-right: 1rem;
    padding: .5rem;

    &:hover {
        background: #f1f3f4;
    }

    span {
        font-family: roboto;
        margin-left: .75rem;
    }
}