<div class="sidebar">
    <a class="sidebar-item" [routerLink]="['/']" [routerLinkActive]="['active-route']" [routerLinkActiveOptions]="{exact: true}">
        <fa-icon [icon]="faImage" class="fa-lg"></fa-icon>
        <span class="hidden lg:inline-block">Photos</span>
    </a>
    <a class="sidebar-item" [routerLink]="['/albums']" [routerLinkActive]="['active-route']">
        <fa-icon [icon]="faImages" class="fa-lg"></fa-icon>
        <span class="hidden lg:inline-block">Albums</span>
    </a>
</div>
